<!doctype html>
<html lang="en">
<%- include('./partials/head'); %>

    <body>
        <%- include('./partials/navMenu'); %>
            <div class="container-fluid">

            </div>
    </body>

    <%- include('./partials/footer'); %>

</html>